TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体,arial
}
INPUT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体,arial
}
SELECT {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体,arial
}
.in1 {
	BORDER-RIGHT: #309487 1px solid; BORDER-TOP: #309487 1px solid; BORDER-LEFT: #309487 1px solid; COLOR: #000000; BORDER-BOTTOM: #309487 1px solid
}
.in2 {
	BORDER-RIGHT: #208074 1px solid; BORDER-TOP: #80c4bb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #80c4bb 1px solid; COLOR: #309487; BORDER-BOTTOM: #208074 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #eef8f3
}
.in3 {
	BORDER-RIGHT: #80a96b 1px solid; BORDER-TOP: #80a96b 1px solid; BORDER-LEFT: #80a96b 1px solid; COLOR: #000000; BORDER-BOTTOM: #80a96b 1px solid
}
.in4 {
	BORDER-RIGHT: #6b9853 1px solid; BORDER-TOP: #fdfefe 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #fdfefe 1px solid; COLOR: #45722e; BORDER-BOTTOM: #6b9853 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #c0dbb2
}
TD.a {
	COLOR: #ffffff
}
TD.b {
	COLOR: #646464
}
TD.c {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体,arial
}
TD.d {
	COLOR: #309487
}
.e {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
.z {
	FONT-SIZE: 12px
}
.yb {
	COLOR: #646464
}
TD.z {
	LINE-HEIGHT: 120%
}
TD.z1 {
	COLOR: #793c17
}
TD.z2 {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
TD.z3 {
	COLOR: #5d8747
}
TD.z4 {
	FONT-SIZE: 16px; LINE-HEIGHT: 150%
}
TD.z5 {
	LINE-HEIGHT: 150%
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #cb0800; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #0000ff; TEXT-DECORATION: underline
}
A.a:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.a:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.b:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.b:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.b:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.b:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.c:link {
	FONT-SIZE: 12px; COLOR: #336c54; TEXT-DECORATION: none
}
A.c:visited {
	FONT-SIZE: 12px; COLOR: #336c54; TEXT-DECORATION: none
}
A.c:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.c:hover {
	FONT-SIZE: 12px; COLOR: #336c54; TEXT-DECORATION: underline
}
A.d:link {
	FONT-SIZE: 12px; COLOR: #646464; TEXT-DECORATION: none
}
A.d:visited {
	FONT-SIZE: 12px; COLOR: #646464; TEXT-DECORATION: none
}
A.d:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.d:hover {
	FONT-SIZE: 12px; COLOR: #646464; TEXT-DECORATION: underline
}
A.e:link {
	FONT-SIZE: 12px; COLOR: #5472b6; TEXT-DECORATION: none
}
A.e:visited {
	FONT-SIZE: 12px; COLOR: #5472b6; TEXT-DECORATION: none
}
A.e:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.e:hover {
	FONT-SIZE: 12px; COLOR: #5472b6; TEXT-DECORATION: underline
}
A.y01:link {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: none
}
A.y01:visited {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: none
}
A.y01:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y01:hover {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: underline
}
A.y02:link {
	FONT-SIZE: 12px; COLOR: #3f3f3f; TEXT-DECORATION: none
}
A.y02:visited {
	FONT-SIZE: 12px; COLOR: #3f3f3f; TEXT-DECORATION: none
}
A.y02:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y02:hover {
	FONT-SIZE: 12px; COLOR: #3f3f3f; TEXT-DECORATION: underline
}
A.y03:link {
	FONT-SIZE: 12px; COLOR: #2d4b6a; TEXT-DECORATION: none
}
A.y03:visited {
	FONT-SIZE: 12px; COLOR: #2d4b6a; LINE-HEIGHT: 130%; TEXT-DECORATION: none
}
A.y03:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y03:hover {
	FONT-SIZE: 12px; COLOR: #2d4b6a; TEXT-DECORATION: underline
}
A.y04:link {
	FONT-SIZE: 12px; COLOR: #2d4b6a; TEXT-DECORATION: none
}
A.y04:visited {
	FONT-SIZE: 12px; COLOR: #2d4b6a; TEXT-DECORATION: none
}
A.y04:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y04:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.y05:link {
	FONT-SIZE: 12px; COLOR: #314960; TEXT-DECORATION: none
}
A.y05:visited {
	FONT-SIZE: 12px; COLOR: #314960; TEXT-DECORATION: none
}
A.y05:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y05:hover {
	FONT-SIZE: 12px; COLOR: #314960; TEXT-DECORATION: underline
}
A.y06:link {
	FONT-SIZE: 12px; COLOR: #7b4a29; TEXT-DECORATION: none
}
A.y06:visited {
	FONT-SIZE: 12px; COLOR: #7b4a29; TEXT-DECORATION: none
}
A.y06:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y06:hover {
	FONT-SIZE: 12px; COLOR: #7b4a29; TEXT-DECORATION: underline
}
A.y07:link {
	FONT-SIZE: 12px; COLOR: #c53a2d; TEXT-DECORATION: none
}
A.y07:visited {
	FONT-SIZE: 12px; COLOR: #c53a2d; TEXT-DECORATION: none
}
A.y07:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y07:hover {
	FONT-SIZE: 12px; COLOR: #c53a2d; TEXT-DECORATION: underline
}
A.y08:link {
	FONT-SIZE: 12px; COLOR: #425f16; TEXT-DECORATION: none
}
A.y08:visited {
	FONT-SIZE: 12px; COLOR: #425f16; TEXT-DECORATION: none
}
A.y08:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y08:hover {
	FONT-SIZE: 12px; COLOR: #425f16; TEXT-DECORATION: underline
}
A.y09:link {
	FONT-SIZE: 12px; COLOR: #144c1d; TEXT-DECORATION: none
}
A.y09:visited {
	FONT-SIZE: 12px; COLOR: #144c1d; TEXT-DECORATION: none
}
A.y09:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y09:hover {
	FONT-SIZE: 12px; COLOR: #144c1d; TEXT-DECORATION: underline
}
A.y10:link {
	FONT-SIZE: 12px; COLOR: #386f76; TEXT-DECORATION: none
}
A.y10:visited {
	FONT-SIZE: 12px; COLOR: #386f76; TEXT-DECORATION: none
}
A.y10:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.y10:hover {
	FONT-SIZE: 12px; COLOR: #386f76; TEXT-DECORATION: underline
}
.y001 A:link {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: none
}
.y001 A:visited {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: none
}
.y001 A:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.y001 A:hover {
	FONT-SIZE: 12px; COLOR: #704e2b; TEXT-DECORATION: underline
}
TD.y04 {
	FONT-SIZE: 12px; COLOR: #2d4b6a
}
TD.y05 {
	FONT-SIZE: 14px; COLOR: #2d4b6a; LINE-HEIGHT: 180%
}
